<h1>{{pageTitle}}</h1>
<form (submit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="company.name" name="name">
  </div>
  <div class="form-group">
    <label for="exchange">Exchange</label>
    <input type="text" class="form-control" id="exchange" placeholder="Enter exchange" [(ngModel)]="company.exchange" name="exchange">
  </div>
  <div class="form-group">
    <label for="ticker">Ticker</label>
    <input type="text" class="form-control" id="ticker" placeholder="Enter ticker" [(ngModel)]="company.ticker" name="ticker">
  </div>
  <div class="form-group">
    <label for="isin">ISIN</label>
    <input type="text" class="form-control" id="isin" placeholder="Enter ISIN" [(ngModel)]="company.isin" name="isin">
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="text" class="form-control" id="website" placeholder="Enter website" [(ngModel)]="company.website" name="website">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <a [routerLink]='["/company-list"]' class="btn btn-light m-1">Back</a>
</form>
