<div class="alert alert-warning">
    <p>The user &amp; password are displayed below just for convenience. Of course this should not appear on a real system</p>
  </div>
<div class="alert alert-info">
  Username: heisenberg<br />
  Password: IAmTheOneWhoKnocks
  <br /><strong>Or</strong><br />
  Username: tyrion<br />
  Password: IDrinkAndIKnowThings
</div>

  <h2>Login</h2>

  <form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="username" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
